html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='Morgan Fromentin')
        
        title= title

        link(href='/views/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')

        link(href='/views/vendor/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css')

        link(href='/views/css/grayscale.min.css' rel='stylesheet')
        
        style
            include style.css
        //-
            script(src='https://code.jquery.com/jquery-3.2.1.min.js')
            script(src='/views/recipes.js')
    body#page-top
        nav(class='navbar navbar-expand-lg navbar-light fixed-top' id='mainNav')
            div.container
                a(class='navbar-brand js-scroll-trigger' href='#page-top') Start Bootstrap
                button(class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    | Menu
                    i(class='fa fa-bars')
                div(class='collapse navbar-collapse' id='navbarResponsive')
                    ul(class='navbar-nav ml-auto')
                        li.nav-item
                            a(class='nav-link js-scroll-trigger' href='#about') About
                        li.nav-item
                            a(class='nav-link js-scroll-trigger' href='#download') Download
                        li.nav-item
                            a(class='nav-link js-scroll-trigger' href='#contact') Contact

        header.masthead
            div.intro-body
                div.container
                    div.row
                        div(class='col-lg-8 mx-auto')
                            h1.brand-heading Grayscale
                            p.intro-text A free, responsive, one page Bootstrap theme.<br>Created by Start Bootstrap.
                            a(class='btn btn-circle js-scroll-trigger' href='#about')
                                i(class='fa fa-angle-double-down animated')

        section(id='about' class='content-section text-center')
            div.container
                div.row
                    div(class='col-lg-8 mx-auto')
                        h2 About Grayscale
                        p 
                            | Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on 
                            a(href='http://startbootstrap.com/template-overviews/grayscale/') the preview page
                            |. The theme is open source, and you can use it for any purpose, personal or commercial.
                        p
                            | This theme features stock photos by 
                            a(href='http://gratisography.com/') Gratisography
                            |  along with a custom Google Maps skin courtesy of 
                            a(href='http://snazzymaps.com/') Snazzy Maps
                            | .
                        p Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization !

        section(id='download' class='download-section content-section text-center')
            div.container
                dic(class='col-lg-8 mx-auto')
                    h2 Download Grayscale
                    p You can download Grayscale for free on the preview page at Start Bootstrap.
                    a(href='http://startbootstrap.com/template-overviews/grayscale/' class='btn btn-default btn-lg') Visit Download Page


        section(id='contact' class='content-section text-center')
            div.container
                div.row
                    div(class='col-lg-8 mx-auto')
                        h2 Contact Start Bootstrap
                        p
                            | Feel free to leave us a comment on the 
                            a(href='http://startbootstrap.com/template-overviews/grayscale/') Grayscale template overview page
                            |  on Star Bootstrap to give some feedback about this theme !
                        ul(class='list-inline banner-social-buttons')
                            li.list-inline-item
                                a(href='https://twitter.com/SBootstrap' class='btn btn-default btn-lg')
                                    i(class='fa fa-twitter fa-fw')
                                    span.network-name Twitter
                            li.list-inline-item
                                a(href='https://github.com/BlackrockDigital/startbootstrap' class='btn btn-default btn-lg')
                                    i(class='fa fa-github fa-fw')
                                    span.network-name Github
                            li.list-inline-item
                                a(href='https://plus.google.com/+Startbootstrap/posts' class='btn btn-default btn-lg')
                                    i(class='fa fa-google-plus fa-fw')
                                    span.network-name Google+

        footer
            div(class='container text-center')
                p Copyright &copy; Your Website 2017

        script(src='/views/vendor/jquery/jquery.min.js')
        script(src='/views/vendor/bootstrap/js/bootstrap.bundle.min.js')

        script(src='/views/vendor/jquery-easing/jquery.easing.min.js')

        script(src='/views/js/grayscale.min.js')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js')
        script(src='/views/main.js')
