- var recipeId = recipe.uid
div(class='container' id=recipeId)
    a(class='navbar-brand') #{recipe.detail.devicename}
    div
        p(class='navbar-nav ml-auto')
            i(class='fa fa-power-off fa-lg')