html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='Morgan Fromentin')
        
        title= title

        link(href='/views/img/logo.png' rel='icon' type='image/png')

        style
            include css/style.css
        
        script(src='/views/vendor/jquery/jquery.min.js')
        script(src='/views/js/recipes.js')
    body
        .container
                if runningOnConfigSample
                    p Warning, you are using config.sample.js file. Please create a copy of config.sample.js and rename it config.js to write your own config.
                h1 Recipes
                if recipes.error
                    p Something went wrong !
                else 
                    ul
                        each recipe in recipes
                            li
                                include recipesbuttons/recipe.pug
                h1 Rooms & Devices
                if rooms.error
                    p Something went wrong !
                else
                    ul
                        each room in rooms
                            li
                                include recipesbuttons/room.pug