html(lang='en')
    head
        title= title

        style
            include style.css
        
        script(src='/views/vendor/jquery/jquery.min.js')
        script(src='/views/recipes.js')
    body
        .container
                if runningOnConfigSample
                    p Warning, you are using config.sample.js file. Please create a copy of config.sample.js and rename it config.js to write your own config.
                h1 Recipes
                if recipes.error
                    p Something went wrong !
                else 
                    ul
                        each recipe in recipes
                            li
                                include recipe.pug
                h1 Rooms & Devices
                if rooms.error
                    p Something went wrong !
                else
                    ul
                        each room in rooms
                            li
                                include room.pug