html
    head
        title= title
        style
            include style.css
    body
        .container
            if runningOnConfigSample
                p Warning, you are using config.sample.js file. Please create a copy of config.sample.js and rename it config.js to write your own config.
            if recipes.error
                p Something went wrong !
            else 
                ul
                    each recipe in recipes
                        li
                            include recipe.pug