extends layout.pug

block append head

    link(href='/views/vendor/timetable/css/timetablejs.css' rel='stylesheet' type='text/css')

block content
    section(id='section-tvguide' class='content-section text-center')
        //-
            div.container.d-flex.flex-column
                div.row
                each channel in channels
                    div.row
                        div.col-3.col-md-1
                            img(src='http://mafreebox.freebox.fr'+channel.logo_url alt='logo '+channel.name class='img-thumbnail')
                        div.col-9.col-md-11
        div.container.timetable

block append misc
            
    div(class="modal fade" id="timeEntryModalCenter" tabindex="-1" role="dialog" aria-labelledby="timeEntryModalCenterTitle" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered modal-lg" role="document")
            div.modal-content
                div.modal-header
                    h5.modal-title#timeEntryModalLongTitle Lights
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                div.modal-body
                    i.fa.fa-spinner.fa-spin.fa-5x
                div.modal-footer

block append scripts

    script(src='/views/vendor/timetable/js/timetable.js')
    script(src='/views/vendor/visible/visible.js')
    script(src='/views/js/tvguide.js')
