.isOn {
    background-color: green;
    color: white;
}

.isOff {
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}

.fa-angle-double-down:before {
    top: 0.3em;
    position: relative;
}